name: Dev Workflow

on:
  push:
    branches-ignore:
      - xlink_upstream
  pull_request:
    branches-ignore:
      - xlink_upstream



jobs:

  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        compiler: [default]
        libusb: [ON, OFF]
        include:
          - os: windows-latest
            compiler: mingw
            libusb: ON
          - os: windows-latest
            compiler: mingw
            libusb: OFF

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'

    - name: Install libusb
      if: matrix.os == 'macos-latest' && matrix.libusb == 'ON'
      run: |
        brew install libusb

    - name: Install libusb
      if: matrix.os == 'ubuntu-latest' && matrix.libusb == 'ON'
      run: |
        sudo apt-get install libusb-1.0-0-dev libusb-1.0-0

    - name: Setup MinGW compiler
      if: matrix.compiler == 'mingw'
      run: |
        choco install mingw
        choco upgrade mingw

    - name: configure (Debug)
      if: matrix.compiler == 'default'
      run: cmake . -Bbuild -DXLINK_BUILD_EXAMPLES=ON -DXLINK_BUILD_TESTS=ON -DXLINK_ENABLE_LIBUSB=${{ matrix.libusb }}

    - name: configure (Debug)
      if: matrix.compiler == 'mingw'
      run: cmake . -Bbuild -DXLINK_BUILD_EXAMPLES=ON -DXLINK_BUILD_TESTS=ON -DXLINK_ENABLE_LIBUSB=${{ matrix.libusb }} -G"MinGW Makefiles"

    - name: build (Debug)
      run: cmake --build build --parallel --config Debug

    - name: test (Debug)
      shell: bash
      run: ctest --test-dir build -C Debug --output-on-failure

    - name: reconfigure (Release)
      run: cmake . -Bbuild -DCMAKE_BUILD_TYPE=Release

    - name: build (Release)
      run: cmake --build build --parallel --config Release

    - name: test (Release)
      shell: bash
      run: ctest --test-dir build -C Release --output-on-failure
